
CardAPI/.vs/
CardAPI/CardAPI/appsettings.json
CardAPI/CardAPI/appsettings.json
.vs/slnx.sqlite
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/appsettings.json
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/CardAPI.dll
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/CardAPI.pdb
CardAPI/CardAPI/Data/migrations/20200522115045_InitialCreate.cs
CardAPI/CardAPI/Data/migrations/20200522115045_InitialCreate.Designer.cs
CardAPI/CardAPI/Data/migrations/20200522132546_InitialCreate.cs
CardAPI/CardAPI/Data/migrations/20200522132546_InitialCreate.Designer.cs
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.csproj.CoreCompileInputs.cache
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.dll
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.pdb
.vs/slnx.sqlite
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/appsettings.json
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/CardAPI.dll
CardAPI/CardAPI/bin/Debug/netcoreapp3.1/CardAPI.pdb
CardAPI/CardAPI/Data/migrations/20200522115045_InitialCreate.cs
CardAPI/CardAPI/Data/migrations/20200522115045_InitialCreate.Designer.cs
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.csproj.CoreCompileInputs.cache
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.dll
CardAPI/CardAPI/obj/Debug/netcoreapp3.1/CardAPI.pdb
